services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: communication-scheduling_db
      POSTGRES_PASSWORD: 1234
      POSTGRES_USER: postgres
    ports:
      - '5433:5432'
    volumes:
      - postgres_new_data:/var/lib/postgresql
    healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U postgres -d communication-scheduling_db" ]
        interval: 10s
        timeout: 5s
        retries: 5

  app:
    build: .
    container_name: communication-scheduling
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/communication-scheduling_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1234
    ports:
      - "8080:8080"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./src/main/java/com/example/communication_scheduling_api/observability/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - app

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  postgres_new_data:
  grafana_data: